<!DOCTYPE html>
<html>
<head>
  <title>RubyNews</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="container-fluid">
  <div class="row" style="padding-top: 50px">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h1 align="center" style="font-size:65px;"><%= icon('diamond', class: 'fa-3x') %>Ruby News</h1>
    </div>
  </div>
  <div class="row" style="padding-top: 50px">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h1 align="center">Read all news in one place!</h1>
      <h1 align="center">Here you can read Onliner,</h1>
      <h1 align="center">TUT.BY, Meduza and other!</h1>
      <h1 align="center">Here you can find forecast!</h1>
    </div>
  </div>
  <div class="row" style="padding-top: 20px">
    <div class="col-lg-3 col-md-3 col-sm-3"></div>
    <div class="col-lg-6 col-md-6 col-sm-6" style="text-align:center; font-size: 30px">
      &nbsp;&nbsp;&nbsp;Join with:
      <div class="btn-group -align-center">
        <%= button_to '/auth/twitter', method: :get, class: 'btn btn-default social' do %>
            <%= icon('twitter', class: 'fa-4x') %>
        <% end %>
        <%= button_to '/auth/instagram', method: :get, class: 'btn btn-default social' do %>
            <%= icon('instagram', class: 'fa-4x') %>
        <% end %>
        <%= button_to '/auth/vk', method: :get, class: 'btn btn-default social' do %>
            <%= icon('vk', class: 'fa-4x') %>
        <% end %>
        <%= button_to '/auth/google', method: :get, class: 'btn btn-default social' do %>
            <%= icon('google-plus', class: 'fa-4x') %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3"></div>
  </div>
</div>
</body>