<h2>Hello World</h2>
<p>
  Your ip <%= request.ip %>
  <br>
  Your city <%= @city %>
  Your weather <%= @main %>
  Your temperature <%= @temperature.to_i - 274.15 %>
  Your humidity <%= @humidity %>
  Your wind <%= @wind %>
</p>
