<h1 style="padding-bottom: 40px; padding-top: 25px"><%= t 'weather_forecast' %></h1>
<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-3">
    <h2 align="center"><%= t('weather.today') %></h2>
    <h2 align="center"><%= t(Time.now.strftime('%a')) %></h2>
    <h3 align="center"><%= t(@weather[0]['weather'][0]['main'].capitalize) %></h3>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <h3 align="center"><%= icon(get_icon(@weather[0]['weather'][0]['main']), class: 'fa-5x') %></h3>
    <h3 align="center"><%= (@weather[0]['main']['temp'] - 273.15).round %> &deg C</h3>
  </div>
  <div class="col-lg-5 col-md-5 col-sm-5">
    <h3><%= t('weather.wind') %> <%= @weather[0]['wind']['speed'] %>m/s,
      <%= t(get_direction(@weather[0]['wind']['deg'])) %>
    </h3>
    <h3><%= t('weather.humidity') %> <%= @weather[0]['main']['humidity'] %>% </h3>
    <h3><%= t('weather.cloudiness') %> <%= @weather.shift['clouds']['all'] %>% </h3>
  </div>
</div>
<hr>

<table class="table-striped" style="width: 100%">
  <% @weather.each.with_index do |weather, index| %>
      <tr>
        <td><h4 align="center" style="margin-left: 5px"><%= t((Time.now + one_day * (index +1)).strftime('%a')) %></h4>
        </td>
        <td><h4 align="center"><%= (weather['main']['temp'] - 273.15).round %>&degC</h4></td>
        <td>
          <h4 align="center"><%= icon(get_icon(weather['weather'][0]['main']), class: 'fa-2x') %></h4>
        </td>
        <td><h4><%= t(weather['weather'][0]['main'].capitalize) %></h4></td>
        <td><h4><%= t('weather.wind') %> <%= weather['wind']['speed'] %>
          <%= t('weather.ms') %>, <%= t(get_direction(weather['wind']['deg']))%></h4></td>
        <td><h4><%= t('weather.humidity') %> <%= weather['main']['humidity'] %>%</h4></td>
        <td><h4><%= t('weather.cloudiness') %> <%= weather['clouds']['all'] %>%</h4></td>
      </tr>
  <% end %>
</table>

