<!DOCTYPE html>
<html>
<head>
  <title>RubyNews</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="container-fluid">
  <div class="row" style="padding-top: 20px">
    <div class="col-lg-3 col-md-3 col-sm-3 control" style="padding-top: 10px">
      <h2 style="padding-bottom: 20px"><%= icon('diamond', class: 'fa-2x') %>Ruby News</h2>
      <%= button_to 'All in one', '/', method: 'get', class: 'btn btn-default w-100' %>
      <hr>
      список ресурсов
      <hr>
      <%= button_to '/weather', method: 'get', class: 'btn btn-default w-100' do %>
          <%= icon('thermometer-half') %> Weather
      <% end %>
      <hr>
      <%= button_to  '/', method: 'get', class: 'btn btn-default w-100' do %>
          <%= icon('cogs') %> Settings
      <% end %>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9" id="content">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
