<!DOCTYPE html>
<html>
<head>
  <title>RubyNews</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="body">
<div class="modal fade bd-modal-lg" id="settings" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_tag '/update' do %>
            <%= check_box_tag :tut, '1', source?(:tut) %>
            <%= label_tag(:tut, 'tut.by') %>
            <%= check_box_tag(:meduza, '1', source?(:meduza)) %>
            <%= label_tag(:meduza, 'meduza.ru') %>
        <div class="row -align-center">
          <div class="col-lg-6" align="right">
            <%= submit_tag 'Save', class: 'btn btn-default w-50' %>
          </div>
        <% end %>
          <div class="col-lg-6">
            <%= button_to 'Log out', '/logout', method: 'get', class: 'btn btn-default w-50' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row" style="padding-top: 20px">
    <div class="col-lg-3 col-md-3 col-sm-3 fixed-top" style="padding-top: 10px">
      <h2 style="padding-bottom: 20px"><%= icon('diamond', class: 'fa-2x') %>Ruby News</h2>
      <%= button_to 'All in one', '/', method: 'get', class: 'btn btn-default w-100' %>
      <hr>
      <% current_user.sources.each do |source| %>
          <%= link_to source.capitalize, "/news?source=#{source}", class: 'btn btn-default w-100 source' %>
      <% end %>
      <hr>
      <%= button_to '/weather', method: 'get', class: 'btn btn-default w-100' do %>
          <%= icon('thermometer-half') %> Weather
      <% end %>
      <hr>
      <button type="button" class="btn btn-default w-100" data-toggle="modal" data-target="#settings">
        <%= icon('cogs') %> Settings
      </button>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9" id="content">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
