<!DOCTYPE html>
<html>
<head>
  <title>RubyNews</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col align-top" , style="text-align: right">
      <%= link_to 'ru', '#' %> /
      <%= link_to 'en', '#' %>
    </div>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</div>
</body>
</html>
